-# %h2.m-1.pt-3.text-center.text-secondary
      -#   = link_to "ジャンルから選ぶ", "/tags/index"
      -# %hr.divider.my-4
      -# .row.pb-5
      -#   .col-md-6.col-lg-3.text-center
      -#     .mt-5
      -#       .fas.fa-4x.fa-hands-helping
      -#       = link_to "ボランティア", "", class: "icon text-decoration-none h3 mb-2 stretched-link"
      -#       %p.text-muted.mb-0
      -#         近くの農業・漁業を体験しよう
      -#   .col-md-6.col-lg-3.text-center
      -#     .mt-5
      -#       .fas.fa-4x.fa-chalkboard-teacher
      -#       = link_to "教室・勉強会", "#", class: "icon text-decoration-none h3 mb-2 stretched-link"
      -#       %p.text-muted.mb-0
      -#         自習室、プログラミング教室など
      -#   .col-md-6.col-lg-3.text-center
      -#     .mt-5
      -#       .fas.fa-4x.fa-piggy-bank
      -#       = link_to "SALE", "#", class: "icon text-decoration-none h3 mb-2 stretched-link"
      -#       %p.text-muted.mb-0
      -#         今日のお得情報をお届け！
      -#   .col-md-6.col-lg-3.text-center
      -#     .mt-5
      -#       .fas.fa-4x.fa-user-friends
      -#       = link_to "ソーシャル", "#", class: "icon text-decoration-none h3 mb-2 stretched-link"
      -#       %p.text-muted.mb-0
      -#         イベントやパーティーに参加！
  
   -# = link_to "#{post.tag_list}", tag_path(genre), class: "badge badge-primary"




          -# .col-auto.tr{id: "post-#{post.id}"}
          -#   .td.m-3
          -#     = render 'posts/tag_list', tag_list: post.genre_list
