@import "bootstrap";
@import "bootstrap-tagsinput";
@import "font-awesome-sprockets";
@import "font-awesome";


.field_with_errors {
  display: contents;
}

.like-link{
  text-decoration: none;
  .likes{
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    .iine__button{
    }
    .likes-count{
      display: inline-block;
      margin-left: 8px;
      padding-bottom: 1px;
    }
  }
}

