.profile-wrapper{
  height: 100%;
  .cover-image{
    background-image: image-url("noimage.jpeg");
    background-size: cover;
    background-position: center, center;
    height: 320px;
    position: relative;
    .profile-photo{
      position: absolute;
      top: 280px;
      left: 10px;
      width: 100px;
      height: 100px;
    }
  }
  .stretched-link{
    text-decoration: none;
    color: black;
  }
  
  .swiper-container{
    background-color: rgba(121, 120, 120, 0.5);
    .swiper-button-next{
      color: blanchedalmond;
    }
  }
}